*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 60px;
    background-color: #DAC892;
    display: flex;
    margin-top: 35px;
    position: fixed;
    z-index: 100;
}

body{
    overflow-x: hidden;
    background-color: #F2EDDD;
}

::-webkit-scrollbar {
    display: none;
}

#cajaLogo{
    /* background-color: blue; */
    margin-left: 5%;
    width: 100px;
    height: auto;
    position: relative;
    bottom: 70%;
}

.logo{
    width: auto;
    height: 140px;
}

.hidden-completa{
    display: none;
}

#cajaMenu{
    /* background-color: green; */
    margin-left: 30%;
    position: relative;
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cajaMenu ul{
    display: flex;
    justify-content: space-between;
    
}

#cajaMenu ul li{
    list-style: none;
    display: inline-block;
}

#cajaMenu ul li a{
    list-style: none;
    color: #595A28;
    text-decoration: none;
    display: flex;
    margin-left: 50px;
    font-family: "Raleway", sans-serif;
    font-size: 1.7rem;
}

#menuRight{
    display: flex;
    margin-left: 20px;
    align-items: center;
}

#menuRight a img{
    margin-left: 30px;
}

#cartDesplegable{
    width: 30vw;
    height: 100vh;
    background-color: #F2EDDD;
    position: fixed;
    top: 0px;
    display: block;
    right: -75%;
    transition-property: right;
    transition-duration: 1s;
}

.iconeClose{
    cursor: pointer;
    margin: 20px;
}

.menuClose{
    display: flex;
    align-items: center;
}

.menuClose h1{
    margin-left: 20px;
    font-family: "Raleway", sans-serif;
    font-size: 1.7rem;
}

.compra{
    display: flex;
    margin-left: 30px;
    margin-top: 50px;
    align-items: center;
}

.compra p{
    font-family: "Raleway", sans-serif;
    margin-left: 40px;
    font-size: 1.5rem;
}

.compra img{
    height: 180px;
}

.compra input{
    width: 80px;
    height: 30px;
    margin-left: 45px;
    font-size: 1rem;
}

.compra2{
    display: flex;
    margin-left: 30px;
    margin-top: 50px;
    align-items: center;
}

.compra2 p{
    font-family: "Raleway", sans-serif;
    margin-left: 15px;
    font-size: 1.5rem;
}

.compra2 img{
    height: 120px;
}

.compra2 input{
    width: 80px;
    height: 30px;
    margin-left: 50px;
}

.compra3{
    display: flex;
    margin-left: 30px;
    margin-top: 50px;
    align-items: center;
}

.compra3 p{
    font-family: "Raleway", sans-serif;
    margin-left: 65px;
    font-size: 1.5rem;
}

.compra3 img{
    height: 180px;
    margin-left: 25px;
}

.compra3 input{
    width: 80px;
    height: 30px;
    margin-left: 70px;
}

#heather{
    width: 100%;
    height: 725px;
    align-items: center;
    overflow: hidden;
    /* background-color: red; */
}

#heather img{
    width: 100%;
}

#heather h1{
    font-size: 7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 60%;
    color: white;
    font-family: "Raleway", sans-serif;
}

#heather p{
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 58%;
    color: white;
    font-family: "Raleway", sans-serif;
}

.h1historia{
    font-family: "Raleway", sans-serif;
    font-size: 3.5rem;
    padding-bottom: 1vh;
    background-color: #F2EDDD;
    padding-left: 220px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#historia{
    width: 100%;
    height: auto;
    /* background-color: red; */
    align-items: center;
    text-align: center;
    justify-content: center;
}

.cajaHistoria1{
    width: 100%;
    display: flex;
    /* background-color: green; */
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.cajaIMGHistoria{
    width: 100%;
}

.textHistoria{
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    text-align: left;
    /* background-color: blue; */
    width: 50%;
    margin-left: 200px;
    margin-right: 70px;
}

.cajaHistoria2{
    width: 100%;
    display: flex;
    /* background-color: green; */
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.cajaIMGHistoria2{
    width: 100%;
}

.textHistoria2{
    font-family: "Raleway", sans-serif;
    font-size: 2rem;
    text-align: left;
    /* background-color: blue; */
    width: 50%;
    margin-right: 140px;
    margin-left: 70px;
}

#asiSomos{
    width: 100%;
    height: auto;
    /* background-color: red; */
    align-items: center;
    text-align: center;
    justify-content: center;
}

.h1AsiSomos{
    font-family: "Raleway", sans-serif;
    font-size: 3.5rem;
    padding-bottom: 1vh;
    background-color: #F2EDDD;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#calidad{
    width: 100%;
    height: auto;
    /* background-color: red; */
    align-items: center;
    text-align: center;
    justify-content: center;
}

.h1Calidad{
    font-family: "Raleway", sans-serif;
    font-size: 3.5rem;
    padding-bottom: 1vh;
    background-color: #F2EDDD;
    text-align: end;
    padding-right: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}

footer{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

#cajaLogoFooter{
    padding-right: 60px;
}

footer ul li{
    list-style: none;
}

footer ul li a{
    text-decoration: none;
    color: black;
    font-family: "Raleway", sans-serif;
    line-height: 40px;
}

footer ul{
    width: 100%;
    margin-right: 100px;
}

#footer2{
    width: 100%;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cajaLogoFooter2{
    margin-right: 40px;
}

.cajaLogoFooter2 img{
    width: 80%;
    height: auto;
}

#footer2 ul li{
    list-style: none;
}

#footer2 ul{
    display: flex;
}

#footer2 ul li a{
    color: white;
    text-decoration: none;
    margin-right: 40px;
    font-size: 1.4rem;
    font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    nav {
        height: 50px; 
        width: 768px;
        margin-top: 50px; 
        align-items: center;
    }

    #cajaMenu {
        width: 30vw;
        height: 100vh;
        background-color: #F2EDDD;
        position: fixed;
        top: 0px;
        display: block;
        right: -125%;
        transition-property: right;
        transition-duration: 1s;    
        z-index: 101;
    }

    #hamburger-menu img{
        scale: 80%;
        cursor: pointer;
        margin-right: 20px;
    }
    
    #menu.active {
        display: flex;
    }
    
    #cajaMenu ul {
        flex-direction: column;
    }
    
    #cajaMenu ul li {
        margin: 10px 0;
    }
    
    #cajaMenu ul li a {
        font-size: 1.2rem;
    }

    .hidden-completa{
        display: block;
    }

    .logo {
        height: 120px; 
        position: relative;
        margin-top: 70px;
        margin-left: 50px;
    }

    #cajaMenu {
        margin-left: 10%; 
    }

    #menuRight{
        padding-left: 30px;
    }

    #menuRight a img {
        margin-left: 15px;
    }

    #cajaMenu ul li a {
        font-size: 1.3rem; 
    }

    #cajaLogo, #cajaMenu {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    #menuRight {
        margin-left: 0;
        margin-top: 10px;
    }

    #menuRight a img {
        margin-left: 15px;
    }

    #cartDesplegable{
        width: 40vw;
        z-index: 102;
    }

    .compra{
        display: flex;
        margin-left: 30px;
        margin-top: 50px;
        align-items: center;
    }
    
    .compra p{
        font-family: "Raleway", sans-serif;
        margin-left: 10px;
        font-size: 0.9rem;
    }
    
    .compra img{
        height: 70px;
    }
    
    .compra input{
        width: 80px;
        height: 30px;
        margin-left: 15px;
        font-size: 1rem;
    }
    
    .compra2{
        display: flex;
        margin-left: 30px;
        margin-top: 50px;
        align-items: center;
    }
    
    .compra2 p{
        font-family: "Raleway", sans-serif;
        margin-left: 0px;
        font-size: 0.9rem;
    }
    
    .compra2 img{
        height: 50px;
    }
    
    .compra2 input{
        width: 80px;
        height: 30px;
        margin-left: 15px;
    }
    
    .compra3{
        display: flex;
        margin-left: 30px;
        margin-top: 50px;
        align-items: center;
    }
    
    .compra3 p{
        font-family: "Raleway", sans-serif;
        margin-left: 15px;
        font-size: 0.9rem;
    }
    
    .compra3 img{
        height: 70px;
        margin-left: 15px;
    }
    
    .compra3 input{
        width: 80px;
        height: 30px;
        margin-left: 30px;
    }

    #heather {
        height: 350px; 
    }

    #heather img {
        height: 350px; 
    }

    #heather h1 {
        font-size: 4rem; 
     
    }

    #heather p {
        font-size: 2rem; 
     
    }

    .h1historia,
    .h1AsiSomos,
    .h1Calidad {
        font-size: 2.5rem; /* Reducir el tamaño de fuente de los títulos */
        padding-left: 50px; /* Reducir el relleno izquierdo de los títulos */
        padding-right: 50px; /* Reducir el relleno derecho de los títulos */
        margin-top: 50px; /* Reducir el margen superior de los títulos */
        margin-bottom: 50px; /* Reducir el margen inferior de los títulos */
    }

    .textHistoria p{
        font-size: 1rem;
        margin-left: 200px;
        width: 100%;
        height: auto;
        position: relative;
        right: 100px;
    }

    .textHistoria2 p{
        font-size: 1rem;
        margin-left: 200px;
        width: 100%;
        height: auto;
        position: relative;
        right: 300px;
    }

    .cajaIMGHistoria{
        width: 80%;
        position: relative;
        right: 200px;
        bottom: 240px;
        height: 200px;
    }

    .cajaIMGHistoria2{
        width: 80%;
        height: 200px;
        position: relative;
        bottom: 200px;
    }

    .cajaIMGHistoria img,
    .cajaIMGHistoria2 img {
        scale: 30%;
    }

    footer{
        margin-top: 200px;
    }

    #cajaLogoFooter img{
        scale: 80%;
    }

    footer ul {
        margin-right: 0;
        width: 70%;
        margin-top: -50px;
    }

    footer ul li a{
        text-decoration: none;
        color: black;
        font-family: "Raleway", sans-serif;
        line-height: 35px;
    }

    #footer2 ul {
        flex-wrap: wrap;
    }

    #footer2 ul li a{
        color: white;
        text-decoration: none;
        margin-right: 10px;
        font-size: 0.9rem;
        font-family: "Raleway", sans-serif;
    }

    .cajaLogoFooter2{
        margin-right: -20px;
    }

    .cajaLogoFooter2 img{
        width: 50%;
        height: auto;
    }

    .escondido{
        display: none;
    }
}